# for Loops

In [13]:
cities=["Karachi", "Lahore", "Quetta", "Islamabad", "Sukkur"]

In [14]:
cleanest_city="Islamabad"

In [15]:
if cleanest_city==cities[0]:
    print("Yes, It is one of the cleanest city")
    
elif cleanest_city==cities[1]:
    print("Yes, It is one of the cleanest city")
    
elif cleanest_city==cities[2]:
    print("Yes, It is one of the cleanest city")
    
elif cleanest_city==cities[3]:
    print("Yes, It is one of the cleanest city")
    
elif cleanest_city==cities[4]:
    print("Yes, It is one of the cleanest city")

Yes, It is one of the cleanest city

In [16]:
for i in cities:
    if cleanest_city == i:
        print("Yes, It is one of the cleanest city")

Yes, It is one of the cleanest city

# for Loops Nested

In [17]:
First_Names=["Salman", "Rauhan", "Hassan", "Rehan", "Farhan"]

In [18]:
Last_Names=["Padela", "Motiwala", "Saya", "Kaludi", "Bidiwala"]

In [20]:
for i in First_Names:
    for j in Last_Names:
        print(i, j)

Salman Padela
Salman Motiwala
Salman Saya
Salman Kaludi
Salman Bidiwala
Rauhan Padela
Rauhan Motiwala
Rauhan Saya
Rauhan Kaludi
Rauhan Bidiwala
Hassan Padela
Hassan Motiwala
Hassan Saya
Hassan Kaludi
Hassan Bidiwala
Rehan Padela
Rehan Motiwala
Rehan Saya
Rehan Kaludi
Rehan Bidiwala
Farhan Padela
Farhan Motiwala
Farhan Saya
Farhan Kaludi
Farhan Bidiwala

In [22]:
for i in First_Names:
    print(i)

Salman
Rauhan
Hassan
Rehan
Farhan

In [43]:
cost=200
selling_prices=[500,700,800,600,900]
total_profit=[]

for price in selling_prices:
    profit=price-cost
    total_profit.append(profit)

In [52]:
print(total_profit)

[300, 500, 600, 400, 700]

In [54]:
cost=200
selling_prices=[500,700,800,600,900]

for price in selling_prices:
    profit=price-cost
    print(profit)

300
500
600
400
700

In [55]:
sum(total_profit)

2500

In [56]:
for i in total_profit:
    profit=profit + i
    print(profit)

1000
1500
2100
2500
3200

In [48]:
profit

3200

In [57]:
# Changing Case

In [58]:
name="ibrahim"

In [59]:
name.upper()

'IBRAHIM'

In [60]:
name.title()

'Ibrahim'

In [61]:
name.lower()

'ibrahim'

# User Input

In [63]:
name=input("Enter your Name: ")

Enter your Name: Ibrahim

# Changing String to Integer

In [66]:
Num1=input("Enter Number 1: ")
Num2=input("Enter Number 2: ")
print (int(Num1)+ int(Num2))

Enter Number 1: 10
Enter Number 2: 25
35

In [73]:
for i in range(1,11):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

# Dictionaries

In [67]:
info={"first_name":"Ibrahim", "last_name":"Amin", "age":31, "city": "Karachi"}

In [69]:
info["first_name"]

'Ibrahim'

In [71]:
print(info["first_name"]+" "+info["last_name"])

Ibrahim Amin

In [75]:
FirstName=info["first_name"]
print(FirstName)

Ibrahim

In [76]:
Age=info["age"]
print(Age)

31

In [77]:
Dic={
    1:"Hello",
    2:"World"
}

In [79]:
Dic[1]

'Hello'

In [83]:
info={"first_name":"Ibrahim", "last_name":"Amin", "age":31, "city": "Karachi"}

In [84]:
info

{'first_name': 'Ibrahim', 'last_name': 'Amin', 'age': 31, 'city': 'Karachi'}

In [85]:
info["designation"]="Student"

In [86]:
info

{'first_name': 'Ibrahim',
 'last_name': 'Amin',
 'age': 31,
 'city': 'Karachi',
 'designation': 'Student'}

In [87]:
del info["designation"]

In [88]:
info

{'first_name': 'Ibrahim', 'last_name': 'Amin', 'age': 31, 'city': 'Karachi'}

# Class Task