In [1]:
# Lists

In [2]:
students = ["Ibrahim", "Ahmed", "Rauhan", "Salman", 'Hassan','Haseeb']

In [3]:
students[2]

'Rauhan'

In [4]:
print(students[0])

Ibrahim

In [6]:
print("Hello "+students[5])

Hello Haseeb

In [7]:
#Appending Data

In [8]:
students=[]

In [13]:
students.append("Hasan")

In [14]:
print(students)

['Salman', 'Ibrahim', 'Hasan']

In [ ]:
#Inserting Data

In [19]:
students.insert(2, "Ali")

In [20]:
print(students)

['Haseeb', 'Salman', 'Ali', 'Ibrahim', 'Hasan', 'Rauhan']

In [21]:
Names=[]

In [27]:
Names.append(input("Enter Student Name: "))

Enter Student Name: Rauhan

In [28]:
print(Names)

['Ibrahim', 'Salman', 'Rauhan']

In [29]:
cities=[]

In [34]:
name=input("Enter City Name: ")
cities.append(name)

Enter City Name: Multan

In [35]:
print(cities)

['Karachi', 'Lahore', 'Multan']

In [37]:
City=[]

In [51]:
name=input("Enter City Name: ")
City.insert(0, name)
print(City)

Enter City Name: Nawabshah
['Nawabshah', 'Hyderabad', 'Sukkur', 'Pindi', 'Peshawar', 'Metro', 'Multan', 'Karachi', 'Islamabad']

In [41]:
# Getting Data/ Slicing Data

In [53]:
City[1:6]

['Hyderabad', 'Sukkur', 'Pindi', 'Peshawar', 'Metro']

In [54]:
City[:5]

['Nawabshah', 'Hyderabad', 'Sukkur', 'Pindi', 'Peshawar']

In [55]:
City[4:]

['Peshawar', 'Metro', 'Multan', 'Karachi', 'Islamabad']

In [56]:
#Removing/ Deleting Data

In [61]:
del City[3]

In [62]:
print(City)

['Nawabshah', 'Hyderabad', 'Sukkur', 'Multan', 'Karachi', 'Islamabad']

In [64]:
City.remove("Multan")

In [65]:
print(City)

['Nawabshah', 'Hyderabad', 'Sukkur', 'Karachi', 'Islamabad']

In [66]:
#Popping Elements

In [80]:
City=['Nawabshah', 'Hyderabad', 'Sukkur', 'Pindi', 'Peshawar', 'Metro', 'Multan', 'Karachi', 'Islamabad']

In [88]:
city_visited=[]

In [101]:
visited=City.pop(1)

In [102]:
city_visited.append(visited)

In [103]:
print(City)

['Nawabshah', 'Multan', 'Karachi', 'Islamabad']

In [104]:
print(city_visited)

['Pindi', 'Pindi', 'Peshawar', 'Metro']

In [71]:
#Tuples

In [86]:
Cars=('Honda', 'Kia', 'Toyota', 'Nisaan', 'Proton', 'Suzuki', 'Mercedes')

In [87]:
print(Cars)

('Honda', 'Kia', 'Toyota', 'Nisaan', 'Proton', 'Suzuki', 'Mercedes')