# Creating a dictionary that contains lists

In [2]:
Student = {
    "Name" : "Murtaza",
    "Institute" : "Dhoraji",
    "Age" : 18,
    "Subjects" : ["English", "Mathematics", "Physics", "Computer", "Chemistry"],
}

In [4]:
Student["Subjects"]

['English', 'Mathematics', 'Physics', 'Computer', 'Chemistry']

# Dictionary of Dictionaries

In [6]:
Database= {
    "0001": {
        "Name" : "Murtaza",
        "Institute" : "Dhoraji",
        "Age" : 18,
        "Subjects" : ["English", "Mathematics", "Physics", "Computer", "Chemistry"],
    },
    "0002": {
        "Name" : "Hasnain",
        "Institute" : "Dhoraji",
        "Age" : 20,
        "Subjects" : ["Urdu", "Accounting", "Economics", "Commerce", "Statistics"],
    }
}

In [7]:
Database["0001"]

{'Name': 'Murtaza',
 'Institute': 'Dhoraji',
 'Age': 18,
 'Subjects': ['English', 'Mathematics', 'Physics', 'Computer', 'Chemistry']}

In [10]:
print(Database["0002"]["Subjects"])

['Urdu', 'Accounting', 'Economics', 'Commerce', 'Statistics']

In [11]:
print(Database)

{'0001': {'Name': 'Murtaza', 'Institute': 'Dhoraji', 'Age': 18, 'Subjects': ['English', 'Mathematics', 'Physics', 'Computer', 'Chemistry']}, '0002': {'Name': 'Hasnain', 'Institute': 'Dhoraji', 'Age': 20, 'Subjects': ['Urdu', 'Accounting', 'Economics', 'Commerce', 'Statistics']}}

In [13]:
print(Database["0002"])

{'Name': 'Hasnain', 'Institute': 'Dhoraji', 'Age': 20, 'Subjects': ['Urdu', 'Accounting', 'Economics', 'Commerce', 'Statistics']}

In [21]:
for key in Database.keys():
        print(key)

0001
0002

In [22]:
for value in Database.values():
        print(value)

{'Name': 'Murtaza', 'Institute': 'Dhoraji', 'Age': 18, 'Subjects': ['English', 'Mathematics', 'Physics', 'Computer', 'Chemistry']}
{'Name': 'Hasnain', 'Institute': 'Dhoraji', 'Age': 20, 'Subjects': ['Urdu', 'Accounting', 'Economics', 'Commerce', 'Statistics']}

In [23]:
for key, value in Database.items():
        print(key, value)

0001 {'Name': 'Murtaza', 'Institute': 'Dhoraji', 'Age': 18, 'Subjects': ['English', 'Mathematics', 'Physics', 'Computer', 'Chemistry']}
0002 {'Name': 'Hasnain', 'Institute': 'Dhoraji', 'Age': 20, 'Subjects': ['Urdu', 'Accounting', 'Economics', 'Commerce', 'Statistics']}

# Functions

In [26]:
def add_numbers():
    first_number= int(input("Enter First Number :"))
    second_number= int(input("Enter Second Number :"))
    total = first_number + second_number
    print(total)

In [27]:
add_numbers()

Enter First Number :12546
Enter Second Number :14258
26804

# CLASS TASK 1

In [35]:
def number_table():
    table=int(input("Enter Table Number: "))
    for i in range(1,11):
        print(table,  " x ", i, "= ", i*table)

In [37]:
number_table()

Enter Table Number: 7
7  x  1 =  7
7  x  2 =  14
7  x  3 =  21
7  x  4 =  28
7  x  5 =  35
7  x  6 =  42
7  x  7 =  49
7  x  8 =  56
7  x  9 =  63
7  x  10 =  70

# CLASS TASK 2

In [49]:
def calc():
    first_number= int(input("Enter First Number :"))
    second_number= int(input("Enter Second Number :"))
    operation= (input("Enter Operation :"))
    if operation == "+":
        print(first_number+second_number)
    elif operation == "-":
        print(first_number-second_number)
    elif operation == "*":
        print(first_number*second_number)
    elif operation == "/":
        print(first_number/second_number)
    else:
        print("Unindentified Operation")

In [51]:
calc()

Enter First Number :5
Enter Second Number :6
Enter Operation :*
30

# Passing Information to Functions

In [44]:
def add_numbers(firstnum, secondnum):
    total = firstnum + secondnum
    print(total)

In [45]:
add_numbers(12,6)

18

In [46]:
add_numbers(322,665)

987