In [5]:
student_database=[]

In [6]:
student_database.append(
    {
    "User ID": input("Please Enter User ID: "),
    "First Name": input("Please Enter First Name: "),
    "Last Name":input("Please Enter Last Name: "),
    "Age": input("Please Enter Age: "),
    "Class": input("Please Enter Class: ")
    }
)

Please Enter User ID: 10001
Please Enter First Name: Ibrahim
Please Enter Last Name: Amin
Please Enter Age: 31
Please Enter Class: RPA

In [7]:
for single_dic in student_database:
    print(single_dic)

{'User ID': '10001', 'First Name': 'Ibrahim', 'Last Name': 'Amin', 'Age': '31', 'Class': 'RPA'}

In [ ]:
# NEW APPROACH

In [17]:
database=[]

In [18]:
summ=0

In [24]:
for data in range(2):
    dic={
        "User ID": input("Please Enter User ID: "),
        "First Name": input("Please Enter First Name: "),
        "Last Name":input("Please Enter Last Name: "),
        "Age": input("Please Enter Age: "),
        "Class": input("Please Enter Class: "),
        }
    summ = summ + data
    database.append(dic)

Please Enter User ID: 1001
Please Enter First Name: ali
Please Enter Last Name: abbas
Please Enter Age: 14
Please Enter Class: 9
Please Enter User ID: 1002
Please Enter First Name: bilal
Please Enter Last Name: habib
Please Enter Age: 15
Please Enter Class: 10

In [26]:
for single_dic in database:
    print(single_dic)

0
1
{'User ID': '1001', 'First Name': 'ali', 'Last Name': 'abbas', 'Age': '14', 'Class': '9'}
{'User ID': '1002', 'First Name': 'bilal', 'Last Name': 'habib', 'Age': '15', 'Class': '10'}

In [27]:
datacase=[]

In [41]:
for data in range(2):
    dic={
        "User ID": input("Please Enter User ID: "),
        "First Name": input("Please Enter First Name: "),
        "Last Name":input("Please Enter Last Name: "),
        "Age": int(input("Please Enter Age: ")),
        "Class": int(input("Please Enter Class: ")),
        }
    datacase.append(dic)

Please Enter User ID: 10005
Please Enter First Name: Shahid
Please Enter Last Name: Jamal
Please Enter Age: 14
Please Enter Class: 9
Please Enter User ID: 10006
Please Enter First Name: Osama
Please Enter Last Name: Bilal
Please Enter Age: 13
Please Enter Class: 8

In [61]:
for single_pic in datacase:
    print(single_pic)

{'User ID': '10001', 'First Name': 'Ali', 'Last Name': 'Bilal', 'Age': '5', 'Class': '1'}
{'User ID': '10002', 'First Name': 'Habib', 'Last Name': 'Jamal', 'Age': '8', 'Class': '3'}
{'User ID': '1003', 'First Name': 'Ahmed', 'Last Name': 'Talal', 'Age': '18', 'Class': '12'}
{'User ID': '1004', 'First Name': 'Karim', 'Last Name': 'Talal', 'Age': '15', 'Class': '10'}
{'User ID': '10005', 'First Name': 'Shahid', 'Last Name': 'Jamal', 'Age': 14, 'Class': 9}
{'User ID': '10006', 'First Name': 'Osama', 'Last Name': 'Bilal', 'Age': 13, 'Class': 8}

In [40]:
Name=input("Enter Name of Student: ")
for i in datacase:
    if i["First Name"] == Name:
        print(i)

Enter Name of Student: Ali
{'User ID': '10001', 'First Name': 'Ali', 'Last Name': 'Bilal', 'Age': '5', 'Class': '1'}

In [45]:
for j in datacase:
    if j["Age"] == 14:
        print(j)

{'User ID': '10005', 'First Name': 'Shahid', 'Last Name': 'Jamal', 'Age': 14, 'Class': 9}

In [55]:
datacase

[{'User ID': '10001',
  'First Name': 'Ali',
  'Last Name': 'Bilal',
  'Age': '5',
  'Class': '1'},
 {'User ID': '10002',
  'First Name': 'Habib',
  'Last Name': 'Jamal',
  'Age': '8',
  'Class': '3'},
 {'User ID': '1003',
  'First Name': 'Ahmed',
  'Last Name': 'Talal',
  'Age': '18',
  'Class': '12'},
 {'User ID': '1004',
  'First Name': 'Karim',
  'Last Name': 'Talal',
  'Age': '15',
  'Class': '10'},
 {'User ID': '10005',
  'First Name': 'Shahid',
  'Last Name': 'Jamal',
  'Age': 14,
  'Class': 9},
 {'User ID': '10006',
  'First Name': 'Osama',
  'Last Name': 'Bilal',
  'Age': 13,
  'Class': 8}]

In [60]:
for i in datacase:
    for key, value in i.items():
        print(str(key) + ": "+ str(value))

User ID: 10001
First Name: Ali
Last Name: Bilal
Age: 5
Class: 1
User ID: 10002
First Name: Habib
Last Name: Jamal
Age: 8
Class: 3
User ID: 1003
First Name: Ahmed
Last Name: Talal
Age: 18
Class: 12
User ID: 1004
First Name: Karim
Last Name: Talal
Age: 15
Class: 10
User ID: 10005
First Name: Shahid
Last Name: Jamal
Age: 14
Class: 9
User ID: 10006
First Name: Osama
Last Name: Bilal
Age: 13
Class: 8

In [63]:
for i in datacase:
    for value in i.values():
        print(value)

10001
Ali
Bilal
5
1
10002
Habib
Jamal
8
3
1003
Ahmed
Talal
18
12
1004
Karim
Talal
15
10
10005
Shahid
Jamal
14
9
10006
Osama
Bilal
13
8

# Range

In [62]:
for i in range(1,11):
    print("2 x ", i, "= ", i*2)

2 x  1 =  2
2 x  2 =  4
2 x  3 =  6
2 x  4 =  8
2 x  5 =  10
2 x  6 =  12
2 x  7 =  14
2 x  8 =  16
2 x  9 =  18
2 x  10 =  20

In [64]:
for i in range(1,11):
    print("3 x ", i, "= ", i*3)

3 x  1 =  3
3 x  2 =  6
3 x  3 =  9
3 x  4 =  12
3 x  5 =  15
3 x  6 =  18
3 x  7 =  21
3 x  8 =  24
3 x  9 =  27
3 x  10 =  30

In [99]:
cost=500

In [100]:
Selling_Prices=[800,1000,1050,1100,750]

In [101]:
total_profit=[]

In [102]:
for price in Selling_Prices:
    profit=price-cost
    total_profit.append(profit)

In [103]:
print(total_profit)

[300, 500, 550, 600, 250]

In [104]:
sum(total_profit)

2200

In [105]:
for i in total_profit:
    profit=profit+i

In [106]:
print(profit)

2450