In [1]:
Student = {
    "First Name" : "Ibrahim",
    "Last Name" : "Amin",
    "Age" : 31,
    "Designation" : "Student",
    "Institute" : "Dhoraji"
}

In [3]:
Student["First Name"]

'Ibrahim'

In [4]:
Student["Last Name"]

'Amin'

# Looping through Values

In [6]:
for i in Student.values():
    print(i)

Ibrahim
Amin
31
Student
Dhoraji

# Looping through Keys

In [8]:
for j in Student.keys():
    print(j)

First Name
Last Name
Age
Designation
Institute

# Looping through Items

In [13]:
for key, value in Student.items():
    print(str(key) + ": "+ str(value))

First Name: Ibrahim
Last Name: Amin
Age: 31
Designation: Student
Institute: Dhoraji

# List of Dictionaries

In [5]:
database= [
    {
        "First Name":"Ibrahim",
        "Last Name":"Amin",
        "Age":31,
        "User ID":10001
    },
    {
        "First Name":"Hassan",
        "Last Name":"Haroon",
        "Age":34,
        "User ID":10002
    },
    {
        "First Name":"Suleman",
        "Last Name":"Imtiaz",
        "Age":32,
        "User ID":10003
    },
    {
        "First Name":"Yasin",
        "Last Name":"Iqbal",
        "Age":36,
        "User ID":10004
    },
    {
        "First Name":"Farhan",
        "Last Name":"Abdul Rahim",
        "Age":33,
        "User ID":10005
    },
    {
        "First Name":"Osama",
        "Last Name":"Abid",
        "Age":39,
        "User ID":10006
    }
]

In [4]:
for single_dic in database:
    print(single_dic)

{'First Name': 'Ibrahim', 'Last Name': 'Amin', 'Age': 31, 'User ID': 10001}
{'First Name': 'Hassan', 'Last Name': 'Haroon', 'Age': 34, 'User ID': 10002}
{'First Name': 'Suleman', 'Last Name': 'Imtiaz', 'Age': 32, 'User ID': 10003}
{'First Name': 'Yasin', 'Last Name': 'Iqbal', 'Age': 36, 'User ID': 10004}
{'First Name': 'Farhan', 'Last Name': 'Abdul Rahim', 'Age': 33, 'User ID': 10005}
{'First Name': 'Osama', 'Last Name': 'Abid', 'Age': 39, 'User ID': 10006}

In [6]:
for single_dic in database:
    if single_dic["First Name"] == "Suleman":
        print(single_dic)

{'First Name': 'Suleman', 'Last Name': 'Imtiaz', 'Age': 32, 'User ID': 10003}

In [7]:
for single_dic in database:
    print(single_dic["First Name"])

Ibrahim
Hassan
Suleman
Yasin
Farhan
Osama

In [15]:
UID = int(input("Enter User ID: "))

Enter User ID: 10005

In [16]:
for i in database:
    if i["User ID"] == UID:
        print(i)

{'First Name': 'Farhan', 'Last Name': 'Abdul Rahim', 'Age': 33, 'User ID': 10005}

In [17]:
for j in database:
    if j["Age"] >= 35:
        print(j)

{'First Name': 'Yasin', 'Last Name': 'Iqbal', 'Age': 36, 'User ID': 10004}
{'First Name': 'Osama', 'Last Name': 'Abid', 'Age': 39, 'User ID': 10006}

In [18]:
for k in database:
    if k["Age"] < 35:
        print(k)

{'First Name': 'Ibrahim', 'Last Name': 'Amin', 'Age': 31, 'User ID': 10001}
{'First Name': 'Hassan', 'Last Name': 'Haroon', 'Age': 34, 'User ID': 10002}
{'First Name': 'Suleman', 'Last Name': 'Imtiaz', 'Age': 32, 'User ID': 10003}
{'First Name': 'Farhan', 'Last Name': 'Abdul Rahim', 'Age': 33, 'User ID': 10005}

In [21]:
for l in database:
    if l["Age"] > 32 and l["Age"] < 36:
        print(l)

{'First Name': 'Hassan', 'Last Name': 'Haroon', 'Age': 34, 'User ID': 10002}
{'First Name': 'Farhan', 'Last Name': 'Abdul Rahim', 'Age': 33, 'User ID': 10005}

In [22]:
Name=input("Enter Name of Student: ")
for name in database:
    if name["First Name"] == Name:
        print(name)

Enter Name of Student: Ibrahim
{'First Name': 'Ibrahim', 'Last Name': 'Amin', 'Age': 31, 'User ID': 10001}

In [23]:
# Appending Data in List of Dictionaries

In [24]:
new_student={
    "First Name":"Saad",
    "Last Name":"Hanid",
    "Age":36,
    "User ID":10007
}

In [25]:
database.append(new_student)

In [28]:
for single_dic in database:
    print(single_dic)

{'First Name': 'Ibrahim', 'Last Name': 'Amin', 'Age': 31, 'User ID': 10001}
{'First Name': 'Hassan', 'Last Name': 'Haroon', 'Age': 34, 'User ID': 10002}
{'First Name': 'Suleman', 'Last Name': 'Imtiaz', 'Age': 32, 'User ID': 10003}
{'First Name': 'Yasin', 'Last Name': 'Iqbal', 'Age': 36, 'User ID': 10004}
{'First Name': 'Farhan', 'Last Name': 'Abdul Rahim', 'Age': 33, 'User ID': 10005}
{'First Name': 'Osama', 'Last Name': 'Abid', 'Age': 39, 'User ID': 10006}
{'First Name': 'Saad', 'Last Name': 'Hanid', 'Age': 36, 'User ID': 10007}

# CLASS TASK

In [35]:
student_database= [
    {
        "User ID": input("Please Enter User ID: "),
        "First Name": input("Please Enter First Name: "),
        "Last Name":input("Please Enter Last Name: "),
        "Age": input("Please Enter Age: "),
        "Class": input("Please Enter Class: ")
    },
    {
        "User ID": input("Please Enter User ID: "),
        "First Name": input("Please Enter First Name: "),
        "Last Name":input("Please Enter Last Name: "),
        "Age": input("Please Enter Age: "),
        "Class": input("Please Enter Class: ")
    },
    {
        "User ID": input("Please Enter User ID: "),
        "First Name": input("Please Enter First Name: "),
        "Last Name":input("Please Enter Last Name: "),
        "Age": input("Please Enter Age: "),
        "Class": input("Please Enter Class: ")
    }
]

Please Enter User ID: 1002
Please Enter First Name: Ahmed
Please Enter Last Name: Ali
Please Enter Age: 15
Please Enter Class: 10th
Please Enter User ID: 1001
Please Enter First Name: Suleman
Please Enter Last Name: ALi
Please Enter Age: 14
Please Enter Class: 8th
Please Enter User ID: 1003
Please Enter First Name: Talha
Please Enter Last Name: Altaf
Please Enter Age: 13
Please Enter Class: 5th

In [38]:
for single_dic in student_database:
    print(single_dic)

{'User ID': '1002', 'First Name': 'Ahmed', 'Last Name': 'Ali', 'Age': '15', 'Class': '10th'}
{'User ID': '1001', 'First Name': 'Suleman', 'Last Name': 'ALi', 'Age': '14', 'Class': '8th'}
{'User ID': '1003', 'First Name': 'Talha', 'Last Name': 'Altaf', 'Age': '13', 'Class': '5th'}

In [41]:
student_database.append(
    {
    "User ID": input("Please Enter User ID: "),
    "First Name": input("Please Enter First Name: "),
    "Last Name":input("Please Enter Last Name: "),
    "Age": input("Please Enter Age: "),
    "Class": input("Please Enter Class: ")
    }
)

Please Enter User ID: 1005
Please Enter First Name: Yasin
Please Enter Last Name: Imtiaz
Please Enter Age: 19
Please Enter Class: 11th

In [42]:
for single_dic in student_database:
    print(single_dic)

{'User ID': '1002', 'First Name': 'Ahmed', 'Last Name': 'Ali', 'Age': '15', 'Class': '10th'}
{'User ID': '1001', 'First Name': 'Suleman', 'Last Name': 'ALi', 'Age': '14', 'Class': '8th'}
{'User ID': '1003', 'First Name': 'Talha', 'Last Name': 'Altaf', 'Age': '13', 'Class': '5th'}
{'User ID': '1004', 'First Name': 'Ahmer', 'Last Name': 'Kaludi', 'Age': '20', 'Class': '12th'}
{'User ID': '1005', 'First Name': 'Yasin', 'Last Name': 'Imtiaz', 'Age': '19', 'Class': '11th'}